name: Publish public branch

on: 
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          token: ${{ secrets.PAT_TOKEN }}
      - name: Remove git history
        run: |
          rm -rf .git
          git init
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Sync from private repository"
          
      - name: Push to public repository
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.PAT_TOKEN }}
          repository: antoineFabr/HappyColours-Pub
          branch: main
          force: true
